.h-content{
    height:25vh;
    background-color:#FFF;
    &__mock {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: 
          /* layer 1: avatar */
          radial-gradient( circle 25px, #CFCFCF 100%, transparent),
          /* layer 2: elements */
          repeating-linear-gradient(to right, #CFCFCF, #CFCFCF 75px, transparent 75px, transparent 100px);
        background-size: 50px 50px, 375px 10px;
        background-position: center 40px, center 18vh;
    }
}
.h-line{
    height: 5px;
    background-color: grey;
}