.f-line{
    height: 5px;
    background-color: grey;
}
.f-content{
    height:25vh;
    background-color: #D2D2D2;
    &__mock {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: 
            /* layer 2: titles */
            repeating-linear-gradient(to right, #8C8C8C, #8C8C8C 75px, transparent 75px, transparent 150px),
            repeating-linear-gradient(to right, #AAA, #AAA 100px, transparent 100px, transparent 150px),
            repeating-linear-gradient(to right, #AAA, #AAA 90px, transparent 90px, transparent 150px),
            repeating-linear-gradient(to right, #AAA, #AAA 100px, transparent 100px, transparent 150px);
        background-size: 600px 12px,600px 10px;
        background-position:  center 5vh,center 9vh,center 12vh,center 15vh;
    }
}